<h2> Контакты </h2>

<form action="contacts" method="POST" role="form">
  <div class="form-group">
    <label> Ваш емейл</label>
    <input name="emailadress"type="text" class="form-control"  placeholder="ваш адрес">
  </div>

  <div class="form-group">
    <label>Ваше сообщение</label>
    <input name="message"type="textarea" class="form-control"  placeholder="напишите сообщение">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>